<div style="background-color: red;">
<%= form_tag url_for(:controller => "comment",:action => "create",:experience_id => 0) do%>    
    <%= text_area_tag :com %>
    <%= submit_tag %>
    <!-- shduoiashdpojaspoj -->
<% end %>


</div>


