<h1>Hi</h1>

<%= link_to "Share your exp", url_for(action: 'share_exp', controller: 'experience') %>
<%= link_to "Browse your exp", url_for(action: 'browse_exp', controller: 'experience',experience_id: "a", user_id: "asd",asd: "Asd") %>